<!DOCTYPE html>
<html ng-app="app1">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>国内游</title>
		<link rel="stylesheet" type="text/css" href="../libs/bootstrap.min.css" />

		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="libs/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/tabs.css"/>
		<script src="libs/jquery-3.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/angular-route1.4.5.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/scss2.css" />
	</head>

	<body ng-controller="ct1">
		<div id="ding">
			<span class="icon iconfont icon-top"></span>
			<p>顶部</p>
		</div>
		<!-- 头部-->
		<header>
			<p class="fanhui"><i class="iconfont icon-back"></i></p>
			<h1>国内游</h1>
			<p>
				<span>
					<a href="index.html">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAACHUlEQVRo3u2YX0RDURzHZ7Ea5TIiRsSIMUaMSBERESUmWnrqpZ5iT6OnnnoqPUWkiIiIsdeeYk+xjIieYvQUkda/0+/ke/m59udu98/Och4+Zuf+zp/Pveee8zs3cNebDXiIQeSB4UUfQog/vJToJ4qEAEWUdZVImLiGwBMQKAt3i0iIKGDgFSIGKigrIEZpkR7iEgN+JhLsWhxlAjE9qorIgZ1hoC9EskZMEtdkzAkRVFHkCAN8JVIN4lKIkbH7qonsYWBvxJSN+AnEfhM5VUR2IFElZluoN4M6n8RGp0W2mcRCG/XnUfeDWEVZ0G+RLUh8EWkH7aTRRrWddpyKrLMde82F6ZlBW3KarfglkmESmy6ueubN+SGWUdbnlcgSpoHsMOtBVsCn6yL2pgG3ReYwjwVecq/ytJxlFQy5KTKNdV92sOtx6s+X9Hf07YrIOJM48EGi1iY76VRkjOVGxz5K2E577IgkWLZ67la22ganjRLRZiKjlpQ71CEJM6u+YEeDuF2REXaiK3RYgh/W8uzEGWsmEiUe2YYXVkCCywgmM1xPZJC4Z8FCIQkTPrYHeeOtIhGihIDbLhAxv86U5QMwRQx2oYQno7pIhN1w+WsE2IogH9WQpYKqIuarUMb/K1lwCKtonQqqipiL043cOO1WaPVFbAUnIk03RC3iYbwW0SJaRItoES2iRbSIFtEiWkSLaBEt4oKIqvxfkV+o3A3jUUk7XAAAAABJRU5ErkJggg==" alt="" />
					</a>
				</span>
				<span class="dianji">

					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAiCAYAAAApkEs2AAAAYklEQVRYw+3WsQnAIBgF4bNyqWQsJ4yZwIG0sJFAIJX8gXuViMUHNpdaLhdwMFeBk4BLLZf+vHt524V+hK5ffy/ncF/PHyZUqFChQoXGg5p5Zp6ZJ1SoUKFChZp51pOZt3kD3m9Em64cZgcAAAAASUVORK5CYII=" alt="" />
				</span>
			</p>
		</header>

		<div id="sou">
			<div>
				<div>
					<p>北京</p>
					<div id="left"></div>
				</div>
				<div>
					<span id="suo" class="icon iconfont icon-search"></span>
					<p>
						请输入目的地/关键词
					</p>
				</div>
			</div>
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="https://pics.lvjs.com.cn/pics/super/2017/11/1510536886_95103.jpg" alt="" />
				</div>
				<div class="swiper-slide">
					<img src="https://pics.lvjs.com.cn/pics/super/2017/11/1511515281_33912.jpg" alt="" />
				</div>
				<div class="swiper-slide">
					<img src="https://pics.lvjs.com.cn/pics/super/2017/04/1493096743_79740.jpg" alt="" />
				</div>
				<div class="swiper-slide">
					<img src="https://pics.lvjs.com.cn/pics/super/2017/03/1490154520_32571.jpg" alt="" />
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<div id="middle">
			<section>
				<div>
					<span>热门目的地</span>
				</div>
				<div>
					<ul>
						<li>华东</li>
						<li>西藏</li>
						<li>青海</li>
						<li class="ri"><span>hot</span>三亚</li>
						<li>云南</li>
						<li><span>hot</span>长隆</li>
						<li>九寨沟</li>
						<li class="ri"><span>热</span>厦门</li>
						<li>桂林</li>
						<li>张家界</li>
						<li>西安</li>
						<li class="ri">青岛</li>
						<li class="di">哈尔滨</li>
						<li class="di">新疆</li>
						<li class="di">内蒙古</li>
						<li class="di">搜索更多<span class="gray">></span></li>
					</ul>
				</div>
				<div>
					<ul>
						<li ng-repeat="obj in arr">
							<img ng-src={{obj.imgs}} alt="" />
							<p>{{obj.ps}}</p>
						</li>
					</ul>
				</div>
			</section>
			<section id="sect2">
				<div>
					<span>人气热销</span>
				</div>
				<div>
					<div ng-repeat="obj in tup">
						<div>
							<img ng-src={{obj.imgs}} alt="" />
							<span>
								{{obj.ps}}
							</span>
						</div>
						<div>
							<p>{{obj.ps1}}</p>
							<p>￥<a href="">{{obj.prices}}</a><span>起</span></p>
						</div>
					</div>
				</div>
			</section>
			<section id="sect3">
				<div>
					<ul>
						<li><a href="#/jin">精选跟团游</a></li>
						<li><a href="#/ziyou">精选自由行</a></li>
						<li><a href="#/dan">精选当地游</a></li>
					</ul>
				</div>
				<ng-view></ng-view>
			</section>
		</div>
		
	</body>
	<script type="text/javascript">
		//轮播部分
		var mySwier = new Swiper(".swiper-container", {
			autoplay: 1000,
			loop: true,
			pagination: '.swiper-pagination'
		})
		var app = angular.module("app1", ["ngRoute"]);
		app.config(function($routeProvider){
			$routeProvider.when("/jin",{
				templateUrl:"temp/jin.html"
			})
			$routeProvider.when("/ziyou",{
				templateUrl:"temp/ziyou.html"
			})
			$routeProvider.when("/dan",{
				templateUrl:"temp/dan.html"
			})
			$routeProvider.otherwise("/jin",{
				redirectTo:"temp/jin.html"
			})
		})

		app.controller("ct1", function($scope, $http) {
			$http.get("json/zhoubian.json").then(function(res) {
				$scope.arr = res.data.Mu;
				$scope.tup = res.data.Tuji;
				
				//精选跟团游
				$scope.qub=res.data.jin.quan1;
				$scope.qus=res.data.jin.lan1;
				$scope.qunb=res.data.jin.lan2;
				$scope.qunh=res.data.jin.lan3;
				$scope.qundao=res.data.jin.lan4;
				
				//自由行
				$scope.qubs=res.data.zi.quan2;
				$scope.qusy=res.data.zi.zi1;
				$scope.qunhn=res.data.zi.zi2;
				$scope.qunyl=res.data.zi.zi3;
				$scope.qunsong=res.data.zi.zi4;
				
			})
		})
			
		
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失

            $(window).scroll(function(){
                if ($(window).scrollTop()>100){
                    $("#ding").fadeIn(500);
                }
                else
                {
                    $("#ding").fadeOut(500);
                }
            });

            //当点击跳转链接后，回到页面顶部位置
            $("#ding").click(function(){
                  $('body,html').animate({scrollTop:0},500);                       
           });       

			
			$("#ding").click(function(){
				timer=setInterval(function(){
					var backTop=document.body.scrollTop;
					var speedTop=backTop/5;
					document.body.scrollTop=backTop-speedTop;
					if(backTop==0){
						clearInterval(timer);
					}
				},30) //计时器 隔30毫秒调用 如果滚动条距离等于零 就调用clearInterval
			})
	</script>

	<script src="gonyong.js"></script>
</html>