* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: none;
  color: #000; }

html {
  font-size: 625%; }

body {
  font-size: 0.14rem; }

header {
  width: 100%;
  height: 0.45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.06rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 3; }
  header h1 {
    font-size: 0.19rem;
    font-weight: 400; }
  header p {
    width: 0.6rem; }
    header p .iconfont {
      font-size: 0.25rem; }

.ss {
  width: 100%;
  height: 0.5rem;
  display: flex;
  padding: 0 0.1rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.45rem; }
  .ss > a {
    display: block;
    width: 100%;
    position: relative;
    border: 1px solid #cdcdcd; }
    .ss > a input {
      width: 100%;
      padding-left: 0.5rem;
      height: 0.3rem;
      border: none;
      outline: none; }
    .ss > a ::-webkit-input-placeholder {
      color: #999; }
    .ss > a span {
      position: absolute;
      top: 0.04rem;
      left: 0.1rem; }
      .ss > a span .iconfont {
        font-size: 0.18rem; }

.banner {
  width: 100%; }
  .banner img {
    width: 100%; }

.daohang {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.15rem;
  border-bottom: 0.08rem solid #cddccd; }
  .daohang li {
    width: 25%;
    text-align: center;
    padding-top: 0.15rem; }
    .daohang li img {
      width: 0.5rem; }
    .daohang li p {
      padding-top: 0.05rem;
      font-size: 0.12rem; }

.renqi {
  width: 100%;
  height: 0.3rem;
  padding: 0 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .renqi span {
    color: #666;
    font-size: 0.12rem; }
    .renqi span a {
      color: #666; }

.ggt {
  width: 100%;
  padding: 0.1rem;
  height: 0.44rem;
  display: flex; }
  .ggt p {
    width: 0.8rem;
    color: #ff720e; }
    .ggt p span {
      font-size: 0.16rem;
      font-weight: 800;
      font-style: italic; }
  .ggt div {
    width: 2.6rem;
    height: 0.24rem;
    padding-left: 0.06rem; }
    .ggt div a {
      display: block;
      font-size: 0.1rem;
      width: 2.5rem;
      height: 0.24rem;
      line-height: 0.24rem;
      color: #666;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .ggt div a span {
        border: 1px solid #FF720E;
        color: #FF720E;
        margin-right: 0.05rem; }

.remen {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .remen li {
    width: 25%;
    border: 1px solid #dedeed;
    text-align: center;
    height: 0.45rem;
    line-height: 0.45rem; }

.isc {
  width: 100%;
  padding: 0.09rem 0 0.1rem 0.1rem;
  border-top: 1px solid #cecece;
  overflow: hidden;
  border-bottom: 0.08rem solid #eddeed; }
  .isc ul {
    width: 9rem;
    display: flex;
    justify-content: space-between; }
    .isc ul li {
      width: 1.4rem;
      border: 1px solid #cdcdcd;
      position: relative; }
      .isc ul li a {
        display: block;
        height: 100%;
        width: 100%; }
      .isc ul li p:nth-of-type(1) {
        font-size: 0.1rem;
        margin-bottom: 0.05rem;
        color: #666;
        text-overflow: ellipsis;
        overflow: hidden;
        text-indent: 0.05rem; }
      .isc ul li p:nth-of-type(2) {
        color: #ADADAD;
        font-size: 0.15rem;
        height: 0.3rem;
        line-height: 0.3rem;
        text-indent: 0.05rem; }
        .isc ul li p:nth-of-type(2) span {
          font-size: 0.1rem;
          color: #D71C81; }
      .isc ul li p:nth-of-type(3) {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 0.06rem 0 0.04rem;
        border-bottom-right-radius: 0.07rem;
        background: #FF720E;
        color: #fff;
        font-size: 0.11rem; }
      .isc ul li img {
        width: 100%; }

.luyou {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #cdcdcd; }
  .luyou a {
    display: block;
    height: 0.44rem;
    line-height: 0.44rem; }
  .luyou .bor {
    border-bottom: 2px solid #A71D5D; }

.qiehuan {
  width: 100%;
  overflow: hidden; }

#tuijian {
  width: 100%; }
  #tuijian ul {
    width: 100%; }
    #tuijian ul li {
      width: 100%;
      position: relative;
      transform: scale(1.1); }
      #tuijian ul li img {
        width: 100%; }
      #tuijian ul li p:nth-of-type(1) {
        font-size: 0.14rem;
        color: #333;
        padding: 0.1rem 0.15rem 0; }
      #tuijian ul li p:nth-of-type(2) {
        font-size: 0.12rem;
        color: #666;
        padding-bottom: 0.1rem; }
      #tuijian ul li p:nth-of-type(3),
      #tuijian ul li p:nth-of-type(4) {
        position: absolute; }
      #tuijian ul li p:nth-of-type(3) {
        left: 0.1rem;
        bottom: 0.8rem;
        color: #fff; }
      #tuijian ul li p:nth-of-type(4) {
        font-size: 0.1rem;
        color: #fff;
        bottom: 0.7rem;
        right: 0;
        background: #ff7200;
        height: 0.33rem;
        padding: 0 0.1rem;
        border-radius: 0.03rem;
        line-height: 0.33rem; }
        #tuijian ul li p:nth-of-type(4) span {
          font-size: 0.16rem; }
      #tuijian ul li p:nth-of-type(5) {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0.1rem;
        left: 0.1rem;
        color: #fff;
        padding: 0.025rem;
        font-size: 0.1rem; }

#yanchu {
  width: 100%; }
  #yanchu ul {
    width: 100%; }
    #yanchu ul li {
      width: 100%; }
      #yanchu ul li a {
        display: block;
        display: flex;
        width: 100%;
        padding: 0.1rem;
        position: relative; }
        #yanchu ul li a .left {
          width: 0.95rem;
          height: 0.77rem;
          position: relative; }
          #yanchu ul li a .left p {
            position: absolute;
            top: 0;
            left: 0;
            width: 0.45rem;
            height: 0.15rem;
            background: url("//pics.lvjs.com.cn/mobile/coding/v750/ticket/img/sign2.png") no-repeat;
            background-size: cover; }
          #yanchu ul li a .left img {
            width: 100%;
            height: 0.77rem; }
        #yanchu ul li a .right {
          flex-grow: 1; }
          #yanchu ul li a .right div {
            text-indent: 0.04rem;
            height: 0.2rem;
            line-height: 0.2rem; }
            #yanchu ul li a .right div p {
              margin: 0; }
          #yanchu ul li a .right div:nth-of-type(1) {
            font-size: 0.14rem; }
          #yanchu ul li a .right div:nth-of-type(2) {
            display: flex;
            justify-content: space-between;
            align-items: center; }
            #yanchu ul li a .right div:nth-of-type(2) p:nth-of-type(1) span {
              border: 1px solid #FF8A34;
              margin-right: 0.05rem;
              padding: 0 0.05rem;
              font-size: 0.1rem;
              color: #FF8A34; }
            #yanchu ul li a .right div:nth-of-type(2) p:nth-of-type(2) {
              font-size: 0.1rem;
              color: #E157A2; }
              #yanchu ul li a .right div:nth-of-type(2) p:nth-of-type(2) span {
                font-size: 0.16rem; }
          #yanchu ul li a .right div:nth-of-type(3) {
            color: #777;
            height: 0.2rem;
            line-height: 0.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.1rem; }
          #yanchu ul li a .right div:nth-of-type(4) {
            color: #c5c5c5;
            font-size: 0.1rem; }

.dibu {
  width: 100%;
  text-align: center;
  height: 0.44rem;
  background: #EFEFF7;
  color: #aaa;
  line-height: 0.44rem;
  font-size: 0.14rem; }

.zhiding {
  width: 0.5rem;
  height: 0.5rem;
  background: rgba(220, 57, 145, 0.8);
  position: fixed;
  right: 0.2rem;
  bottom: 0.8rem;
  z-index: 5;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  display: none; }
  .zhiding span {
    display: block;
    margin-top: 0.05rem; }

/*# sourceMappingURL=jingwaiwanle.css.map */
