@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #000;
}
html{
    font-size: 625%;
}
body{
    font-size: 0.14rem;
}
.header1 , .header2{
    width: 100%;
    padding: 0 0.1rem;
    height: 0.45rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    h1{
        flex-grow: 1;
        text-align: center;
        font-size: 0.19rem;
        font-weight: 500;
    }
    p{
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        text-align: center;
        line-height: 0.3rem;
        .iconfont{
            font-size: 0.2rem;
        }
    }
}
.header1{
    top: 0;
    left: 0;
    z-index: 22;
    p{
        color: #fff;
        background: rgba(0,0,0,0.3);
        
    }
}
.header2{
    top: 0;
    left: 0;
    background: #fff;
    z-index: 44;
    display: none;
    p{
        color: #666;
    }
}
//切换
.qiehuan{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0.45rem;
    left: 0;
    background: #fff;
    box-shadow: 0 3px 10px 2px #ccc;
    display: none;
    z-index: 44;
    li{
        display: inline-block;
        height: 0.35rem;
        line-height: 0.35rem;
        color: #333;
    }
    .borColor{
        border-bottom: 2px solid #666;
        font-weight: 600;
    }
}
//banner
.banner{
    width: 100%;
    li{
        position: relative;
        p{
            position: absolute;
            background: rgba(0,0,0,0.5);
            color: #fff;
            bottom: 0.4rem;
            right: 0.3rem;
            font-size: 0.12rem;
            padding: 0 0.08rem;
            border-radius: 0.06rem;
            .iconfont{
                font-size: 0.12rem;
            }
        }
    }
    img{
        width: 100%;
    }
}
//主体
.name{
    width: 100%;
    margin-top: -0.2rem;
    position: relative;
    z-index: 4;
    background: #fff;
    padding: 0.15rem 0.15rem 0;
    border-radius: 0.15rem 0.15rem 0 0 ;
    h2{
        font-size: 0.2rem;
        color: #333;
        font-weight: 600;
        overflow: initial;
        white-space: inherit;
        text-overflow: initial;
        span{
            font-size: 0.14rem;
            font-weight: 400;
            padding-left: 0.05rem;
        }
    }
    >p{
        font-size: 0.14rem;
        padding-top: 0.1rem;
        color: #666;
        .iconfont{
            font-size: 0.12rem;
            color: #aaa;
        }
    }
    div{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 0.06rem;
        height: 0.6rem;
        line-height: 0.2rem;
        a{
            display: block;
            width: 1.67rem;
            height: 0.5rem;
            background: #F5F5F5;
            padding: 0.08rem;
            p:nth-of-type(2){
                font-size: 0.1rem;
                color: #999;
                line-height: 0.11rem;
            }
        }
        a:nth-of-type(1){
            p:nth-of-type(1){
                font-size: 0.13rem;
                color: #333;
                span{
                    background: red;
                    color: #fff;
                    font-size: 0.1rem;
                    margin-left: 0.08rem;
                }
            }
        }
        a:nth-of-type(2){
            p:nth-of-type(1){
                font-size: 0.13rem;
                color: #333;
                span{
                    font-weight: 700;
                }
            }
        }
    }
}
//品质
.pinzhi{
    width: 100%;
    border-top: 0.08rem solid #ededed;
    height: 0.52rem;
    display: flex;
    align-items: center;
    padding:0  0.1rem;
    >p{
        padding: 0 0.1rem;
        .iconfont{
            font-size: 0.3rem;
            color: #FF7771;
        }
    }
    div{
        p{
            font-size: 0.12rem;
            color: #333;
            span{
                padding-left: 0.06rem;
            }
            .iconfont{
                font-size: 0.1rem;
                color: #999;
            }
        }
    }
}
//广告
.gg{
    width: 100%;
    border-top: 0.08rem solid #ededed;
    
    img{
        width: 100%;
    }
}
//订票
.dingpiao{
    width: 100%;
    border-top: 0.08rem solid #ededed;
    padding: 0 0.15rem;
    border-bottom: 0.08rem solid #ededed;
    ul{
        width: 100%;
        li{
            width: 100%;
            padding: 0.1rem 0;
            border-bottom: 1px solid #dedeed;
            display: flex;
            justify-content: space-between;
            .left{
                p:nth-of-type(1){
                    font-size: 0.14rem;
                    color: #333;
                }
                p:nth-of-type(2){
                    color: #f80;
                    margin-top: 0.05rem;
                    font-size: 0.1rem;
                    padding: 0 0.03rem;
                    display: inline-block;
                    border: 1px solid #f80;
                }
                p:nth-of-type(3), p:nth-of-type(4){
                    span{
                        font-size: 0.1rem;
                        margin-top: 0.04rem;
                        padding-right: 0.07rem;
                        .iconfont{
                            color: #999;
                            font-size: 0.1rem;
                        }
                    }
                }
               
                p:nth-of-type(5){
                    font-size: 0.1rem;
                    color: #333;
                }
            }
            .right{
                text-align: center;
                p{
                    padding: 0;
                    margin: 0;
                }
                p:nth-of-type(1){
                    text-decoration: line-through;
                    color: #CDCDCD;
                    font-size: 0.1rem;
                }
                p:nth-of-type(2){
                    span:nth-of-type(1){
                        font-size: 0.1rem;
                        color: #FF6F10;
                    }
                    span:nth-of-type(2){
                        font-size: 0.2rem;
                        color: #f60;
                    }
                    span:nth-of-type(3){
                        font-size: 0.1rem;
                        color: #A1A1A1;
                    }
                }
                p:nth-of-type(3){
                    font-size: 0.12rem;
                    color: #FF8800;
                }
                p:nth-of-type(4){
                    background: #f80;
                    color: #fff;
                    width: 0.6rem;
                    height: 0.24rem;
                    text-align: center;
                    line-height: 0.24rem;
                    border-radius:0.12rem ;
                    font-size: 0.13rem;
                }
            }
        }
    }
}


//返回顶部
#top{
    position: fixed;
    right: 10px;
    bottom: 100px;
    text-align: center;
    width: 45px;
    height: 45px;
    background: #D30775;
    border-radius: 50%;
    display: none;
    color: #fff;
    padding: 2px 0;
    z-index: 111;
}


//小强
//景区须知
.jqxz{
    box-sizing: border-box;
    width: 100%;
    height: 3.6rem;
    border-bottom: 0.1rem solid #efeff6;
    padding: 0 0.1rem;
    .icon-diamond{
        margin-right: 0.1rem;  
    }
    h1,h2{
        margin: 0;
        padding: 0;
    }
    h1{
        font-size: 0.16rem;
        color: #333;
        padding: 0.1rem 0 0;
    }
    h2{
        font-size: 0.14rem;
        font-weight: 200;
        padding: 0.04rem 0;
    }
    p{
        font-size: 0.12rem;
        color: #666;
        padding-left: 0.18rem;
        line-height: 0.18rem;
    }
    .qbhx_one{
        width: 100%;
        height: 0.4rem;
        line-height: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            position: relative;
            display: block;
            width: 5px;
            height: 5px;
            
        }
        .le::before{
            content: ""; 
            position: absolute;
            right: 10px;
            top: 1px;
            border-left: 135px solid #ddd;
            border-right: 0px solid transparent;
            border-top: 1px solid #ddd;
        }
        .ri::after{
            content: ""; 
            position: absolute;
            left: 10px;
            top: 1px; 
            border-left: 0px solid transparent;
            border-right: 135px solid #ddd;
            border-top: 1px solid #ddd;
        }
    }
    ul{
        box-sizing: border-box;
        width: 100%;
        height: 0.6rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        li{
            width: 30%;
            font-size: 0.14rem;
            font-weight: 200;
        }
    }
    .last{
        display: block;
        margin: 0 auto;
        width: 1.5rem;
        height: 0.3rem;
        border: 1px solid #5CA2F8;
        text-align: center;
        line-height: 0.3rem;
        
        border-radius: 0.5rem;
        margin-top: 0.1rem;
        a{
            color: #89BCFA;
        }
    }
}
//景+酒 套餐
.jjtc{
    box-sizing: border-box;
    width: 100%;
    height: 0.6rem;
    border-bottom: 0.1rem solid #efeff6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.1rem;
    p:nth-of-type(1){
        .icon-building:before{
            margin-right: 0.1rem; 
        }
    }
    p:nth-of-type(2){
        color: #ccc;
        i{
            color: #F60;
        }
        b{
            font-size: 0.18rem;
            color: #F60;
        }
    }
}
//用户点评
.yhdp{
    box-sizing: border-box;
    width: 100%;
    height: 4.6rem;
    padding: 0 0.1rem;
    div:nth-of-type(1){
        width: 100%;
        height: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2,p{
            margin: 0;
            padding: 0;
        }
        h2{
          font-size: 0.16rem;  
        }
        p{
            font-size: 0.1rem;
            
        }
        span{
            color: #ccc;
            margin: 0 0.05rem;
        }
    }
    div:nth-of-type(2){
        width: 90%;
        height: 0.23rem;
        background: #F6F6FB;
        margin: 0 auto;
        border-radius: 0.5rem;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            li{
                width: 25%;
                height: 0.23rem;
                line-height: 0.23rem;
                font-size: 0.10rem;
                color: #7F8496;
            }
        }
    }
    div:nth-of-type(3){
        width: 100%;
        height: 0.4rem;
        margin-top: 0.2rem;
        display: flex;
        justify-content: space-between;
        b:nth-of-type(1){
            background-color: #7bc730;
            color: #fff;
            margin-left: 1.02rem;
        }
        b:nth-of-type(2){
            background-color: #C470E1;
            color: #fff;
        }
    }
    div:nth-of-type(4){
        width: 100%;
        margin-top: 0.1rem;
        text-align: center;
        ul{
            display: flex;
            justify-content: space-between;
            li{
                width: 19%;
                height: 0.62rem;
                img{
                    width: 0.6rem;
                    height: 0.6rem;
                }
            }
        }
    }
    div:nth-of-type(5){
        padding: 0 0.02rem;
        p{
            font-size: 0.12rem;
            color: #333;
            line-height: 20px;
        }
    }
    div:nth-of-type(6){
        font-size: 0.1rem;
        color: #999;
        width: 100%;
        height: 0.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p:last-child{
            text-align: center;
            line-height: 0.2rem;
            width: 0.72rem;
            height: 0.2rem;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            span{
                font-size: 0.1rem;
            }
        }
    }
    .last{
        display: block;
        margin: 0 auto;
        width: 1.5rem;
        height: 0.3rem;
        border: 1px solid #89BCFA;
        text-align: center;
        line-height: 0.3rem;
        border-radius: 0.5rem;
        margin-top: 0.2rem;
        font-size: 0.12rem;
        a{
            
            color: #89BCFA;
        }
    }
}













.qita{
    height: 0.42rem;
    width: 100%;
    line-height: 0.42rem;
    font-weight: 700;
    font-size: 0.16rem;
    background: #EEEEF5;
}
//iscroll
.isc{
    width: 100%;
    padding: 0.09rem 0 0.1rem 0.1rem;
    overflow: hidden;
    background: #EEEEF5;
    ul{
        width: 9rem;
        display: flex;
        justify-content: space-between;
        li{
            width: 1.4rem;
//          height: 1.5rem;
            border: 1px solid #cdcdcd;
            position: relative;
            a{
                display: block;
                height: 100%;
                width: 100%;
            }
            p:nth-of-type(1){
                font-size: 0.1rem;
                margin-bottom: 0.05rem;
                color: #666;
                text-overflow: ellipsis;
                overflow: hidden;
                text-indent: 0.05rem;
//              height: 0.4rem;
            }
            p:nth-of-type(2){
                color: #ADADAD;
                font-size: 0.15rem;
                height: 0.3rem;
                line-height: 0.3rem;
                text-indent: 0.05rem;
                span{
                    font-size: 0.1rem;
                    color: #D71C81;
                }
            }
            p:nth-of-type(3){
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 0.06rem 0 0.04rem;
                border-bottom-right-radius: 0.07rem;
                background: #FF720E;
                color: #fff;
                font-size: 0.11rem;
                
            }
            img{
                width: 100%;
            }
        }
    }
}
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    height: 0.57rem;
    li{
        width: 25%;
        height: 0.36rem;
        text-align: center;
        border-left: 1px solid #AAAAAA;
        .iconfont{
            font-size: 0.16rem;
            color: #999;
        }
        p{
            font-size: 0.12rem;
            color: #999;
        }
    }
    li:first-child{
        border: none;
    }
}
