*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html{
    font-size: 625%;
}
body{
    font-size: 0.14rem;
}
.head{
    position: absolute;
    width: 100%;
    height: 0.45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.19rem;
    line-height: 0.5rem;
    color: #ffffff;
    z-index: 2;
}
.goback{
    width: 0.54rem;
    height: 0.45rem;
    text-align: center;
    line-height: 0.45rem;
    position: absolute;
    top: 0;
    left: 0;
}
.goback>i{
    font-size: 0.2rem;
    color: #fff;
}